{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "~": "./src",
          "screens": "./src/screens",
          "components": "./src/components",
          "actions": "./src/actions",
          "reducer": "./src/reducer",
          "saga": "./src/saga",
          "assets": "./src/assets",
          "config": "./src/config",
          "navigations": "./src/navigations",
          "utils": "./src/utils",
          "features": "./src/features"
        },
        "stripExtensions": [
          ".js",
          ".jsx"
        ]
      },
      "babel-plugin-styled-components"
    ]
  ]
}
